<div class="container">
  <h1><%= @route_heading %></h1>

  <form action="/<%= @action %>" method="post">

    <!-- If HTML5 geolocation enabled, capture current location -->
    <input type="hidden" id="user_latitude" name='user_latitude' value="">
    <input type="hidden" id="user_longitude" name='user_longitude' value="">

    <div class="input-field col s6">
      <i class="material-icons prefix">my_location</i>
      <input type="text" name="location">
      <label for="icon_prefix">Optional Location</label>
    </div>
    <div class="input-field col s6">
      <i class="material-icons prefix">home</i>
      <input type="text" name="shelter" id="shelterAutoComplete">
      <label for="icon_prefix">Specific Shelter</label>
    </div>

    <button id="find_button" class="waves-effect waves-light btn">
      <i class="material-icons">search</i>
    </button><br><br>
  </form>
  <p class="hidden" id="shelterArr"><%= @shelter_arr.join(",") %></p>

  <p>Or, <%= @find_shelter_string %></p>
  <div class="row">
    <% @resources.each do |resource| %>
      <a id="resource_<%= resource.id %>" href="/resources/<%= resource.id %>">
        <button class="btn-floating btn-large waves-effect waves-light btn-pop" style="height: 128px; width: 128px;">
          <img src="/img/<%= resource.name().split().join('_') %>64x64.png" title="<%= capitalize(resource.name()) %>" align="middle">
        </button>
      </a>
    <% end %>
  </div>

</div>

<script charset="utf-8">
  window.onload = function() {
    locateUser();
  };
</script>
