<div class="container">
  <h1>Current Inventory of <strong><%= capitalize(@resource.name) %></strong></h1>

  <table class="striped">
    <thead>
      <th><i class="material-icons prefix">home</i></th>
      <th><img src="/img/<%= @resource.name %>.png"/></th>
      <th><img src="/img/hash.png"/></th>
    </thead>
    <tbody>
      <% Shelter.all().each() do |shelter| %>
        <% repeated = false %>
        <% shelter.items().each() do |item| %>
          <% if (item.resource_id().eql?(@resource.id())) %>
            <% highlight = "background-color: rgba(255,0,0,0.5);" %>
            <% style = item.quantity.eql?(0) ? highlight : ''%>
            <tr>
              <td><a href="/shelters/<%= shelter.id() %>"><%= capitalize(shelter.name()) unless repeated%></a></td>
              <td style="<%= style %>"><%= item.name%></td>
              <td style="<%= style %>"><%= item.quantity%></td>
            </tr>
            <% repeated = true %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
