<div class="container">
  <h4><i class="material-icons">home</i>
    <a target="_blank" href="https://www.google.com/maps/place/<%= @shelter.name().split().join('+') %>">
      <%= capitalize(@shelter.name()) %>
    </a>
  </h4>

  <h4>
    <i class="material-icons">my_location</i>
    <%= capitalize(@shelter.address()) %>
  </h4>

  <h4>
    <i class="material-icons">phone</i>
    <%= @shelter.phone_number() %>
  </h4>

  <h5>
    <i class="material-icons">info_outline</i>
    <%= @shelter.description() %>
  </h5>

  <br>
  <div id="resource_list">
    <ul><h5>Resources Needed:</h5>
      <% @shelter.items.each do |item| %>
        <% if item.quantity().eql?(0) %>
          <li>
            <i><%= item.name() %></i>
          </li>
        <% end %>
      <% end %>
    </ul>

  </div>
</div>
